*{
    margin: 0;
}
/* banner start */
.banner-conten{
    background-image: url('../images/banner/banner1.png');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bannar-title{
float: right;
margin: 0 auto;
margin-right: 150px;

}

.bannar-title h2{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 300px;
    font-family: 'Noto Serif', serif;
    font-size: 45px;
    font-weight: 700;
}
.bannar-title p{
    text-align: right;
    margin-bottom: 10px;
    color:#585454;
}
.contact-btn{
    background:#fc6006;
    color:aliceblue;
    padding:15px 20px;
    border: 0;
    font-size: 16px;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
}
/* banner end */
/* about start */
h2{
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Noto Serif', serif;

}
.about-img img{
    max-width: 100%;
    
}
.about-img{
    display: flex;
    margin: 0 200px;
    gap:24px
}
.about-text h1{
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Noto Serif', serif;
    }
.about-text p{
    color:#585454;
    font-size: 16px;
    }
    
    .about-item{
       margin-top: 10px;
    }
    .about-item a{
       text-decoration: none;
       color:#585454;
       font-size: 16px;
    }
    .about-item a i{
       color:green;
       margin-right: 10px;
     
    }
    /* about end */
    /* My plans */
    .title h1{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin-top: 50px;
    }
    .plans-title{
        display: flex;
        justify-content: space-around;
        margin: 20px 200px;
        
    }
    .plans-title img {
       max-width: 100%;
       margin-top: 30px;
       
    }
    .plans-item, h2{
        font-size: 25px;
        color:hsla(0, 82%, 2%, 0.555);
        font-weight: 700;
    }
    .plans-item, p{
        font-size:20px;
        text-align: center;
        margin-top: 10px;
        color:#585454;
    }
    /* my plans end */
   
    .keep{
        margin-top: 100px;
        text-align: center;
        margin:50px 200px;
        margin-bottom: 200px;
    }
    .keep-title{
        background-image: url('../images/watch.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        background-image: linear-gradient(red, yellow);  
        opacity: 0.6;  
    }
        
    
    .keep-title h3{
        color:white;
        font-size: 30px;
        font-weight: 900;
        font-family: 'Noto Serif', serif;

    }
    

    

    
